// Polar night
$--night-black-hard: #2e3440;
$--night-black-soft: #3b4252;
$--night-grey-hard: #434c5e;
$--night-grey-soft: #4c566a;

// Snow
$--snow-hard: #d8dee9;
$--snow-medium: #e5e9f0;
$--snow-soft: #eceff4;

// Frost
$--frost-green: #8fbcbb;
$--frost-blue: #88c0d0;
$--frost-grey: #81a1c1;
$--frost-grey-hard: #5e81ac;

// Aurora
$--aurora-red: #bf616a;
$--aurora-orange: #d08770;
$--aurora-yellow: #ebcb8b;
$--aurora-green: #a3be8c;
$--aurora-purple: #b48ead;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// General Classes
.container {
  background-color: rgba($color: $--night-black-hard, $alpha: 0.9);
  border-radius: 10px;
  padding: 0 12px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

// Global Styles
.bar {
  font-weight: 500;
  padding: 7px;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff slider {
  all: unset;
  color: black;
}
.metric scale trough highlight {
  all: unset;
  background-color: $--aurora-red;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: $--night-grey-soft;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

// Workspaces
.workspaces {
  padding: 6px;
  padding-left: 11px;
}
.workspaces button {
  font-size: 16px;
  transition: color 200ms ease 0;
}
.workspaces button:active {
  color: #bf616a;
}
.workspaces button:hover {
  color: $--aurora-green;
}