
@import url("assets/reset.css");

/* General */
* {
    font-weight: 700;
    font-family: "JetBrainsMono Nerd Font Mono";
    padding: 0;
}
window#waybar {
    all: unset;
    color: #ebdbb2;
}

/* Commons for all */
.modules-left, .modules-center, .modules-right {
    background-color: alpha(#32302F, 1);
    margin: 10 10 6 10;
    border-radius: 8px;
    padding: 0px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

/* Components */


#workspaces {
    font-size: 23px;
}
#workspaces button {
    color: white;
    padding: 0 4px;
    min-width: 30px;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;           /* ← Elimina sombra del texto */
    -gtk-icon-shadow: none;      /* ← Elimina sombra del icono */
    -gtk-icon-effect: none;      /* ← Elimina efectos GTK en iconos */
}
#workspaces button:hover {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;           /* ← Importante también en hover */
    -gtk-icon-shadow: none;      /* ← Importante también en hover */
    -gtk-icon-effect: none;      /* ← Importante también en hover */
    /* Si NO quieres cambio de color en hover, omite la línea siguiente */
    color: #83a598;
}
#workspaces button.active {
    color: #83a598;
    text-shadow: none;
    border-bottom: 2px solid red;
    -gtk-icon-shadow: none;
}







#custom-expand {
    font-size: 22px;
    margin-right: 8px;
    transition: color 0.2s ease-in-out;
}
#custom-expand:hover {
    color: #83a598;
}

#custom-poweroff {
    font-size: 18px;
    margin-right: 6px;
    margin-left: 6px;
}
#custom-poweroff:hover {
    color: #fb4934;
}
#custom-logoutsession {
    font-size: 18px;
    margin-right: 6px;
    margin-left: 6px;
}
#custom-logoutsession:hover {
    color: #b8bb26;
}
#custom-lock {
    font-size: 18px;
    margin-right: 6px;
    margin-left: 6px;
}
#custom-lock:hover {
    color: #d79921;
    /*color: #fabd2f;*/
}





#custom-settings {
    margin-right: 12px;
    transition: color 0.2s ease-in-out;
    padding: 0;
    font-size: 24px;
}
#custom-settings:hover {
    color: #83a598;
}











#network {
    font-size: 24px;
    margin: 0 8px 0 8px;
}

#bluetooth {
}
#bluetooth.connected {
    font-size: 22px;
}

#battery {
    font-size: 16px;
    margin-left: 12px;
    margin-right: 0;
}
