* {
    padding: 0;
    font-family: "JetBrainsMono Nerd Font Mono";
}
window#waybar {
    all: unset;
    color: #fbf1c7;
}

/* Commons for all */
.modules-center {
    background-color: alpha(#32302F, 0.73);
    margin: 0 10 6 10;
    border-radius: 16px;
    padding: 0px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#custom-firefox,
#custom-terminal,
#custom-vscode,
#custom-androidstudio,
#custom-file_explorer,
#custom-separator,
#custom-trash,
#custom-search {
    font-size: 40px;
    margin: 0 6px;
    transition: color 0.2s ease-in-out;
}
#custom-separator {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
}
#custom-trash {
    font-size: 34px;
}
#custom-search {
    font-size: 34px;
}

#custom-firefox:hover,
#custom-terminal:hover,
#custom-vscode:hover,
#custom-androidstudio:hover,
#custom-file_explorer:hover,
#custom-trash:hover,
#custom-search:hover {
    color: #83a598;
}
