
window#waybar {
    all: unset;
    background-color: red;
    font-family: "JetBrainsMono";
}

.modules-left {
    margin: 0 10 0 10;
    border-radius: 6;
    background-color: rgba(10,10,10, 0.4);
}
